extends layout 

block content

    article#post-6.post-6.page.type-page.status-publish.hentry.entry
      header.entry-header.responsive-max-width(style='padding-top: 50px;')
        h1.entry-title About
        // ======= About Section =======

      .entry-content
        p
          | Travel Experts is not your average travel agency. For over ten years we have been creating tailor-made vacations.
          | We have thousands of happy customers all around the world.
        .wp-block-group.alignfull.has-background-background-color.has-background
          div(class='wp-block-group__inner-container')
            .wp-block-spacer(style='height:36px;' aria-hidden='true' sty)
            .wp-block-columns.alignwide(style='padding-top: -10px;')
              .wp-block-column
                h4.has-text-align-center Tailored
                p.has-small-font-size(style='text-align:center;')
                  | Every vacation we create is unique and tailored just for you.
                  | Tell us where you want to go and we will take care of the rest.
              .wp-block-column
                h4.has-text-align-center Quality
                p.has-small-font-size(style='text-align:center;') We hand-select the hotels and activities that we work with regularly.
              .wp-block-column
                h4.has-text-align-center Philosophy
                p.has-small-font-size(style='text-align:center;') Our philosophy is simple: wanderlust. It reflects in our selection of exquisite boutique hotels.
            .wp-block-spacer(style='height:68px;' aria-hidden='true')
        .wp-block-group.alignfull.has-background-light-background-color.has-background
          div(class='wp-block-group__inner-container')
            .wp-block-spacer(style='height:32px;' aria-hidden='true')
            h2.has-text-align-center Our Partners
            .wp-block-columns.alignwide
              .wp-block-column
                .wp-block-image
                  figure.aligncenter.size-large
                    img.wp-image-109(src='https://exforddemo.files.wordpress.com/2019/08/logo-1.png?w=150' alt='' width='150' height='150' srcset='https://exforddemo.files.wordpress.com/2019/08/logo-1.png?w=150&amp;zoom=2 1.5x' scale='1.5')
              .wp-block-column
                .wp-block-image
                  figure.aligncenter
                    img.wp-image-110(src='https://exforddemo.files.wordpress.com/2019/08/logo-2.png' alt='' scale='0')
              .wp-block-column
                .wp-block-image
                  figure.aligncenter
                    img.wp-image-111(src='https://exforddemo.files.wordpress.com/2019/08/logo-3.png' alt='' scale='0')
              .wp-block-column
                .wp-block-image
                  figure.aligncenter
                    img.wp-image-112(src='https://exforddemo.files.wordpress.com/2019/08/logo-4.png' alt='' scale='0')
              .wp-block-column
                .wp-block-image
                  figure.aligncenter
                    img.wp-image-113(src='https://exforddemo.files.wordpress.com/2019/08/logo-5.png' alt='' scale='0')
            .wp-block-spacer(style='height:68px;' aria-hidden='true')
  
  
        // ======= End about Section ========    
