extends layout 

block content
  .wp-block-cover.alignfull.has-background-dim-30.has-background-dim(data-carousel-extra='{"blog_id":195406383,"permalink":"\
  https:\/\/travel752200868.wordpress.com\/"}' style='min-height:549px;')
    img.wp-block-cover__image-background.wp-image-165(alt='' src='https://exforddemo.files.wordpress.com/2019/08/tom-winckels-i7olrdm9yiw-unsplash.jpg' data-object-fit='cover' scale='0')
    .wp-block-cover__inner-container(data-carousel-extra='{"blog_id":195406383,"permalink":"https:\/\/travel752200868.wordpress.com\/"}')
     
      //======Start of description details===//
      h1.has-text-align-center Your Journey Begins
      p.has-text-align-center
        | With Travel Experts, your journey starts here.
        | Please be sure to explore all our offers and choose the destination just right for your next vacation.
      .wp-block-button(data-carousel-extra='{"blog_id":195406383,"permalink":"\
      https:\/\/travel752200868.wordpress.com\/"}' style='text-align: center;')
        a.wp-block-button__link(href='/contact') Explore Our Offers
  .wp-block-group.alignfull.has-background-background-color.has-background(data-carousel-extra='{"blog_id":195406383,"permalink":"https:\/\/travel752200868.wordpress.com\/"}')
    .wp-block-group__inner-container
      .wp-block-spacer(data-carousel-extra='{"blog_id":195406383,"permalink":"https:\/\/travel752200868.wordpress.com\/"}' style='height:50px;' aria-hidden='true')
      .wp-block-columns.alignwide.are-vertically-aligned-center(data-carousel-extra='{"blog_id":195406383,"permalink":"https:\/\/travel752200868.wordpress.com\/"}')
        .wp-block-column.is-vertically-aligned-center(data-carousel-extra='{"blog_id":195406383,"permalink":"https:\/\/travel752200868.wordpress.com\/"}' style='flex-basis:67%;')
          figure.wp-block-image.size-large
            img.wp-image-163(src='https://exforddemo.files.wordpress.com/2019/08/cris-tagupa-9zxhur5acwm-unsplash.jpg' alt='' scale='0')
        .wp-block-column.is-vertically-aligned-center(data-carousel-extra='{"blog_id":195406383,"permalink":"\
        https:\/\/travel752200868.wordpress.com\/"}' style='flex-basis:33%;')
          h2 Explore the World
          p
            | Amazing tours and fun adventures are waiting for you. Treat yourself and see our offers.
          .wp-block-button(data-carousel-extra='{"blog_id":195406383,"permalink":"\
          https:\/\/travel752200868.wordpress.com\/"}')
            a.wp-block-button__link(href='/contact') Explore Our Offers
      .wp-block-spacer(data-carousel-extra='{"blog_id":195406383,"permalink":"\
      https:\/\/travel752200868.wordpress.com\/"}' style='height:31px;' aria-hidden='true')
  .wp-block-media-text.alignfull.has-media-on-the-right.is-stacked-on-mobile.is-vertically-aligned-center.has-foreground-background-color.has-background(data-carousel-extra='{"blog_id":195406383,"permalink":"\
  https:\/\/travel752200868.wordpress.com\/"}')
    figure.wp-block-media-text__media
      a(href='/contact')
        img.wp-image-56.size-full(data-attachment-id='56' data-permalink='https://travel752200868.wordpress.com/cropped-logo/' data-orig-file='https://travel752200868.files.wordpress.com/2021/07/cropped-logo-3.png' data-orig-size='357,357' data-comments-opened='1' data-image-meta='{"aperture":"0","credit":"","camera":"","caption":"","created_timestamp":"0","copyright":"","focal_length":"0","iso":"0","shutter_speed":"0","title":"","orientation":"0"}' data-image-title='cropped-logo' data-image-description='' data-medium-file='https://travel752200868.files.wordpress.com/2021/07/cropped-logo-3.png?w=300' data-large-file='https://travel752200868.files.wordpress.com/2021/07/cropped-logo-3.png?w=357' src='https://exforddemo.files.wordpress.com/2019/08/rajiv-perera-b1jeqijwyqi-unsplash.jpg?w=666' alt='' width='666' height='444' srcset='https://exforddemo.files.wordpress.com/2019/08/rajiv-perera-b1jeqijwyqi-unsplash.jpg?w=666&zoom=2 1.5x' src-orig='https://exforddemo.files.wordpress.com/2019/08/rajiv-perera-b1jeqijwyqi-unsplash.jpg?w=750' scale='1.5')
    .wp-block-media-text__content(data-carousel-extra='{"blog_id":195406383,"permalink":"https:\/\/travel752200868.wordpress.com\/"}')
      h2 Discover Unlimited Beauty
      p
        | Meet different people, cultures, traditions and landscapes. Choose your next destination with us, we will take care of the rest.
  .wp-block-group.alignfull.has-background-background-color.has-background(data-carousel-extra='{"blog_id":195406383,"permalink":"\
  https:\/\/travel752200868.wordpress.com\/"}')
    .wp-block-group__inner-container
      .wp-block-spacer(data-carousel-extra='{"blog_id":195406383,"permalink":"https:\/\/travel752200868.wordpress.com\/"}' style='height:30px;' aria-hidden='true')
      .wp-block-columns.alignwide.are-vertically-aligned-bottom(data-carousel-extra='{"blog_id":195406383,"permalink":"\
      https:\/\/travel752200868.wordpress.com\/"}')
        .wp-block-column(data-carousel-extra='{"blog_id":195406383,"permalink":"\
        https:\/\/travel752200868.wordpress.com\/"}' style='flex-basis:33%; padding-bottom: 180px;')
          h2 Upcoming Tours and Destinations
          p
            | From exotic places to ski resorts, the list is 
            em almost
            |  endless and we have an offer for you.
          .wp-block-button(data-carousel-extra='{"blog_id":195406383,"permalink":"\
          https:\/\/travel752200868.wordpress.com\/"}')
            a.wp-block-button__link(href='/contact') Explore Our Offers
        .wp-block-column(data-carousel-extra='{"blog_id":195406383,"permalink":"\
        https:\/\/travel752200868.wordpress.com\/"}' style='flex-basis:67%;')
          figure.wp-block-gallery.columns-2.is-cropped
            ul.blocks-gallery-grid(data-carousel-extra='{"blog_id":195406383,"permalink":"\
            https:\/\/travel752200868.wordpress.com\/"}')
              li.blocks-gallery-item
                figure
                  img.wp-image-18(src='https://exforddemo.files.wordpress.com/2019/08/ancient-architectural-design-architecture-2166553.jpg?w=314' alt='' data-id='18' data-link='https://exforddemo.wordpress.com/home/ancient-architectural-design-architecture-2166553/' width='314' height='209' srcset='https://exforddemo.files.wordpress.com/2019/08/ancient-architectural-design-architecture-2166553.jpg?w=314&zoom=2 1.5x' src-orig='https://exforddemo.files.wordpress.com/2019/08/ancient-architectural-design-architecture-2166553.jpg?w=750' scale='1.5')
              li.blocks-gallery-item
                figure
                  img.wp-image-61(src='https://exforddemo.files.wordpress.com/2019/08/pietro-de-grandi-t7k4aepoggk-unsplash.jpg?w=314' alt='' data-id='61' data-link='https://exforddemo.wordpress.com/home/pietro-de-grandi-t7k4aepoggk-unsplash/' width='314' height='209' srcset='https://exforddemo.files.wordpress.com/2019/08/pietro-de-grandi-t7k4aepoggk-unsplash.jpg?w=314&zoom=2 1.5x' src-orig='https://exforddemo.files.wordpress.com/2019/08/pietro-de-grandi-t7k4aepoggk-unsplash.jpg?w=750' scale='1.5')
              li.blocks-gallery-item
                figure
                  img.wp-image-16(src='https://exforddemo.files.wordpress.com/2019/08/bali-coconut-trees-palm-trees-2100805.jpg?w=314' alt='' data-id='16' data-link='https://exforddemo.wordpress.com/home/bali-coconut-trees-palm-trees-2100805/' width='314' height='209' srcset='https://exforddemo.files.wordpress.com/2019/08/bali-coconut-trees-palm-trees-2100805.jpg?w=314&zoom=2 1.5x' src-orig='https://exforddemo.files.wordpress.com/2019/08/bali-coconut-trees-palm-trees-2100805.jpg?w=750' scale='1.5')
              li.blocks-gallery-item
                figure
                  img.wp-image-21(src='https://exforddemo.files.wordpress.com/2019/08/cold-dawn-daylight-376370.jpg?w=314' alt='' data-id='21' data-link='https://exforddemo.wordpress.com/home/cold-dawn-daylight-376370/' width='314' height='209' srcset='https://exforddemo.files.wordpress.com/2019/08/cold-dawn-daylight-376370.jpg?w=314&zoom=2 1.5x' src-orig='https://exforddemo.files.wordpress.com/2019/08/cold-dawn-daylight-376370.jpg?w=750' scale='1.5')
        .wp-block-spacer(data-carousel-extra='{"blog_id":195406383,"permalink":"https:\/\/travel752200868.wordpress.com\/"}' style='height:1px;' aria-hidden='true')
    .wp-block-spacer(data-carousel-extra='{"blog_id":195406383,"permalink":"https:\/\/travel752200868.wordpress.com\/"}' style='height:45px;' aria-hidden='true')
    .wp-block-media-text.alignfull.is-stacked-on-mobile.is-vertically-aligned-center.has-foreground-background-color.has-background(data-carousel-extra='{"blog_id":195406383,"permalink":"https:\/\/travel752200868.wordpress.com\/"}')
      figure.wp-block-media-text__media
        img.wp-image-53.size-full(src='https://exforddemo.files.wordpress.com/2019/08/action-adventure-alps-238622.jpg?w=666' alt='' width='666' height='444' srcset='https://exforddemo.files.wordpress.com/2019/08/action-adventure-alps-238622.jpg?w=666&zoom=2 1.5x' src-orig='https://exforddemo.files.wordpress.com/2019/08/action-adventure-alps-238622.jpg?w=750' scale='1.5')
      .wp-block-media-text__content(data-carousel-extra='{"blog_id":195406383,"permalink":"https:\/\/travel752200868.wordpress.com\/"}')
        h2 What People Say
        blockquote.wp-block-quote.is-style-large
          p
            | We booked our honeymoon with Travel Experts and it was simply incredible.
            | They took care of everything, even our packing list!
          cite William &amp; Megan James
    .wp-block-group.alignfull.has-background-background-color.has-background(data-carousel-extra='{"blog_id":195406383,"permalink":"https:\/\/travel752200868.wordpress.com\/"}')
      .wp-block-group__inner-container
        .wp-block-spacer(data-carousel-extra='{"blog_id":195406383,"permalink":"https:\/\/travel752200868.wordpress.com\/"}' style='height:30px;' aria-hidden='true')
        h2.has-text-align-center Special&nbsp;Deals&nbsp;and Last-Minute Offers
        p.has-text-align-center
          | Book a unique tour at a great price! Grab a last-minute offer and start packing for your memorable vacation.
        .wp-block-columns.alignwide(data-carousel-extra='{"blog_id":195406383,"permalink":"\
        https:\/\/travel752200868.wordpress.com\/"}')
          .wp-block-column(data-carousel-extra='{"blog_id":195406383,"permalink":"\
          https:\/\/travel752200868.wordpress.com\/"}')
            figure.wp-block-image.size-large
              img.wp-image-52(data-attachment-id='52' width='309' height='206' srcset='https://exforddemo.files.wordpress.com/2019/08/adults-arabian-arabic-2239422-1.jpg?w=309&zoom=2 1.5x' src-orig='https://exforddemo.files.wordpress.com/2019/08/adults-arabian-arabic-2239422-1.jpg?w=750' scale='1.5')
            h4.has-text-align-center Qatar Adventure
            p.has-text-align-center.has-small-font-size Deals at hotels with&nbsp;desert excursions&nbsp;included.
            .wp-block-button.aligncenter(data-carousel-extra='{"blog_id"}')
              a.wp-block-button__link(href='/contact') From $900
          .wp-block-column
            figure.wp-block-image.size-large
              img.wp-image-49(data-attachment-id='49' src='https://exforddemo.files.wordpress.com/2019/08/ancient-architecture-building-1010657.jpg' alt='' scale='0' width='309' height='206')
            h4.has-text-align-center Discover Greece
            p.has-text-align-center.has-small-font-size Visit Santorini and learn about its history.
            .wp-block-button.aligncenter(data-carousel-extra='{"blog_id":195406383,"permalink":"\
            https:\/\/travel752200868.wordpress.com\/"}')
              a.wp-block-button__link(href='/contact') From $650
          .wp-block-column(data-carousel-extra='{"blog_id":195406383,"permalink":"\
          https:\/\/travel752200868.wordpress.com\/"}')
            figure.wp-block-image.size-large
              img.wp-image-51(data-attachment-id='51' data-orig-size='1600,1066' data-comments-opened='1' src='https://exforddemo.files.wordpress.com/2019/08/background-beach-blue-sky-1007657-1.jpg?w=309' alt='' width='309' height='206' srcset='https://exforddemo.files.wordpress.com/2019/08/background-beach-blue-sky-1007657-1.jpg?w=309&zoom=2 1.5x' src-orig='https://exforddemo.files.wordpress.com/2019/08/background-beach-blue-sky-1007657-1.jpg?w=750' scale='1.5')
            h4.has-text-align-center Explore Thailand
            p.has-text-align-center.has-small-font-size Indulge by the beach and relax with a massage.
            .wp-block-button.aligncenter(data-carousel-extra='{"blog_id":195406383,"permalink":"\
            https:\/\/travel752200868.wordpress.com\/"}')
              a.wp-block-button__link(href='/contact') From $1200
        .wp-block-spacer(data-carousel-extra='{"blog_id":195406383,"permalink":"\
        https:\/\/travel752200868.wordpress.com\/"}' style='height:31px;' aria-hidden='true')