doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='profile' href='https://gmpg.org/xfn/11')
    title Travel Experts
    meta(name='robots' content='max-image-preview:large')
    link#all-css-0-1(rel='stylesheet' href='https://s0.wp.com/_static/??-eJylU9lOwzAQ/CEcJxVU8ID4Fh9Luq0vee2W/D2bpkRteoDES+SZ9cwe3shDEiaGAqFIX0VytcdA8pBM9II8OhgWqDFET/K2jKomkzEVjIw+o3Px8Oj+Ju4hC121dsDqMjiYr2MwrlqmmZBW0QbZgBqP4frKlmTh+E7Hr/lwlfcnqfJJrJpWKiIok/1ITfb3RH1lqCH3HMkg913XtOyhKzortYtmJxzqrPKwaOMfRmUD/sY8uFkPFhU4Do/zPAPJqYEn6qBXZrg7qws5x87xheh+8cdK2QxKUmPJaoi1iD6j/XP/C4usCoZ+uQVLuYkn2arp2qaTFqnMpLitPVs4Zbk9oVU+7fSMJxHKEMtxEebDI7fxBZn3SV2P8YFsSq11ykAk+OuxenF87V/S+dGa92N3+i0umFH64d+79erl9Xn91rXbbxPgcjc=?cssminify=yes' type='text/css' media='all')
    style(id='wp-block-library-inline-css').
      .has-text-align-justify
      {
      text-align:justify;
      }
    meta(name='viewport' content='width=device-width, initial-scale=1')

    // =====CSS files===== //

    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet' href='/stylesheets/style.css')
    link#print-css-1-1(rel='stylesheet' href='https://s0.wp.com/wp-content/themes/pub/varia/print.css?m=1571655471h&amp;cssminify=yes' type='text/css' media='print')
    link#all-css-2-1(rel='stylesheet' href='https://s0.wp.com/_static/??-eJx9kN0OwiAMRl/I2rjMxRvjszDWIQqUQNn07WXxZv5kd/3Sc74mxTmC5iAUBOVKnjLG0iM9Rk4DZnk62uucd/ifm1SyCm3QbxTmqNn/CL5AdMXYkHG2gyHJSKVu+W4JnJpRyEenpJb+v7gqMMTgWCuxHD4CjE7ZtKUGXi6owdsAvUowNVt0ot6xqaPBSq3iliScIVHkJFAf6L/zol78+dA17bFtTm13ewEOs49f?cssminify=yes' type='text/css' media='all')
    link#exford-fonts-css(crossorigin='anonymous' rel='stylesheet' href='https://fonts.googleapis.com/css?family=Source+Serif+Pro%3A400%2C700%2C400i%2C700i%7CSource+Sans+Pro%3A400%2C700%2C400i%2C700i&amp;subset=latin%2Clatin-ext' media='all')
    link#all-css-4-1(rel='stylesheet' href='https://s0.wp.com/_static/??/wp-content/themes/pub/exford/style.css,/wp-content/mu-plugins/admin-bar/masterbar-overrides/masterbar.css?m=1625650794j&amp;cssminify=yes' type='text/css' media='all')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    style(id='jetpack-global-styles-frontend-style-inline-css').
      :root { --font-headings: unset; --font-base: unset; --font-headings-default: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif; --font-base-default: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;}
    link#all-css-6-1(rel='stylesheet' href='https://s0.wp.com/wp-content/themes/h4/global.css?m=1420737423h&amp;cssminify=yes' type='text/css' media='all')
    style(type='text/css' media='print')
  body
    header#masthead(class='site-header responsive-max-width has-logo has-title-and-tagline' role='banner' style='padding-top: 10px padding-bottom: 10px;  ')
      div(class='site-branding')
        div(class='site-logo') 
          a(href='/' rel='home') 
            img(src='/images/logo.png' width='160' style='float: right;' alt='Welcome to Travel Experts')
        div(class='site-title' style = "position:relative; left:50px")
          a(href='/' rel='home')
            
            //=====Random Greeting====//
            
            |#{greet} 
            br
            br
            | Welcome to Travel&nbsp; Experts
            br
        p(class='current-time' style = "position:relative; left:50px")
            |#{time}
            br 

      //==== .social-media navigation ======//
      
      nav(class='social-navigation' role='navigation' aria-label='Social Links Menu')
        div(class='menu-social-container' style='padding-bottom: 1px; padding-left: 100px;')
          ul#menu-social(class='social-links-menu')
            li#menu-item-40(class='menu-item menu-item-type-custom menu-item-object-custom menu-item-40')
              a(href='http://facebook.com')
                span(class='screen-reader-text') Facebook
                svg(class='svg-icon' width='26' height='26' aria-hidden='true' role='img' focusable='false' viewBox='0 0 24 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink')
                  path(d='M20.007,3H3.993C3.445,3,3,3.445,3,3.993v16.013C3,20.555,3.445,21,3.993,21h8.621v-6.971h-2.346v-2.717h2.346V9.31 c0-2.325,1.42-3.591,3.494-3.591c0.993,0,1.847,0.074,2.096,0.107v2.43l-1.438,0.001c-1.128,0-1.346,0.536-1.346,1.323v1.734h2.69 l-0.35,2.717h-2.34V21h4.587C20.555,21,21,20.555,21,20.007V3.993C21,3.445,20.555,3,20.007,3z')
            li#menu-item-41(class='menu-item menu-item-type-custom menu-item-object-custom menu-item-41')
              a(href='http://twitter.com')
                span(class='screen-reader-text') Twitter
                svg(class='svg-icon' width='26' height='26' aria-hidden='true' role='img' focusable='false' viewBox='0 0 24 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink')
                  path(d='M22.23,5.924c-0.736,0.326-1.527,0.547-2.357,0.646c0.847-0.508,1.498-1.312,1.804-2.27 c-0.793,0.47-1.671,0.812-2.606,0.996C18.324,4.498,17.257,4,16.077,4c-2.266,0-4.103,1.837-4.103,4.103 c0,0.322,0.036,0.635,0.106,0.935C8.67,8.867,5.647,7.234,3.623,4.751C3.27,5.357,3.067,6.062,3.067,6.814 c0,1.424,0.724,2.679,1.825,3.415c-0.673-0.021-1.305-0.206-1.859-0.513c0,0.017,0,0.034,0,0.052c0,1.988,1.414,3.647,3.292,4.023 c-0.344,0.094-0.707,0.144-1.081,0.144c-0.264,0-0.521-0.026-0.772-0.074c0.522,1.63,2.038,2.816,3.833,2.85 c-1.404,1.1-3.174,1.756-5.096,1.756c-0.331,0-0.658-0.019-0.979-0.057c1.816,1.164,3.973,1.843,6.29,1.843 c7.547,0,11.675-6.252,11.675-11.675c0-0.178-0.004-0.355-0.012-0.531C20.985,7.47,21.68,6.747,22.23,5.924z')
            li#menu-item-42(class='menu-item menu-item-type-custom menu-item-object-custom menu-item-42')
              a(href='http://instagram.com')
                span(class='screen-reader-text') Instagram
                svg(class='svg-icon' width='26' height='26' aria-hidden='true' role='img' focusable='false' viewBox='0 0 24 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink')
                  path(d='M12,4.622c2.403,0,2.688,0.009,3.637,0.052c0.877,0.04,1.354,0.187,1.671,0.31c0.42,0.163,0.72,0.358,1.035,0.673 c0.315,0.315,0.51,0.615,0.673,1.035c0.123,0.317,0.27,0.794,0.31,1.671c0.043,0.949,0.052,1.234,0.052,3.637 s-0.009,2.688-0.052,3.637c-0.04,0.877-0.187,1.354-0.31,1.671c-0.163,0.42-0.358,0.72-0.673,1.035 c-0.315,0.315-0.615,0.51-1.035,0.673c-0.317,0.123-0.794,0.27-1.671,0.31c-0.949,0.043-1.233,0.052-3.637,0.052 s-2.688-0.009-3.637-0.052c-0.877-0.04-1.354-0.187-1.671-0.31c-0.42-0.163-0.72-0.358-1.035-0.673 c-0.315-0.315-0.51-0.615-0.673-1.035c-0.123-0.317-0.27-0.794-0.31-1.671C4.631,14.688,4.622,14.403,4.622,12 s0.009-2.688,0.052-3.637c0.04-0.877,0.187-1.354,0.31-1.671c0.163-0.42,0.358-0.72,0.673-1.035 c0.315-0.315,0.615-0.51,1.035-0.673c0.317-0.123,0.794-0.27,1.671-0.31C9.312,4.631,9.597,4.622,12,4.622 M12,3 C9.556,3,9.249,3.01,8.289,3.054C7.331,3.098,6.677,3.25,6.105,3.472C5.513,3.702,5.011,4.01,4.511,4.511 c-0.5,0.5-0.808,1.002-1.038,1.594C3.25,6.677,3.098,7.331,3.054,8.289C3.01,9.249,3,9.556,3,12c0,2.444,0.01,2.751,0.054,3.711 c0.044,0.958,0.196,1.612,0.418,2.185c0.23,0.592,0.538,1.094,1.038,1.594c0.5,0.5,1.002,0.808,1.594,1.038 c0.572,0.222,1.227,0.375,2.185,0.418C9.249,20.99,9.556,21,12,21s2.751-0.01,3.711-0.054c0.958-0.044,1.612-0.196,2.185-0.418 c0.592-0.23,1.094-0.538,1.594-1.038c0.5-0.5,0.808-1.002,1.038-1.594c0.222-0.572,0.375-1.227,0.418-2.185 C20.99,14.751,21,14.444,21,12s-0.01-2.751-0.054-3.711c-0.044-0.958-0.196-1.612-0.418-2.185c-0.23-0.592-0.538-1.094-1.038-1.594 c-0.5-0.5-1.002-0.808-1.594-1.038c-0.572-0.222-1.227-0.375-2.185-0.418C14.751,3.01,14.444,3,12,3L12,3z M12,7.378 c-2.552,0-4.622,2.069-4.622,4.622S9.448,16.622,12,16.622s4.622-2.069,4.622-4.622S14.552,7.378,12,7.378z M12,15 c-1.657,0-3-1.343-3-3s1.343-3,3-3s3,1.343,3,3S13.657,15,12,15z M16.804,6.116c-0.596,0-1.08,0.484-1.08,1.08 s0.484,1.08,1.08,1.08c0.596,0,1.08-0.484,1.08-1.08S17.401,6.116,16.804,6.116z')
            li#menu-item-43(class='menu-item menu-item-type-custom menu-item-object-custom menu-item-43')
              a(href='http://snapchat.com')
                span(class='screen-reader-text') Snapchat
                svg(class='svg-icon' width='26' height='26' aria-hidden='true' role='img' focusable='false' viewBox='0 0 24 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink')
                  path(d='M12.065,2a5.526,5.526,0,0,1,3.132.892A5.854,5.854,0,0,1,17.326,5.4a5.821,5.821,0,0,1,.351,2.33q0,.612-.117,2.487a.809.809,0,0,0,.365.091,1.93,1.93,0,0,0,.664-.176,1.93,1.93,0,0,1,.664-.176,1.3,1.3,0,0,1,.729.234.7.7,0,0,1,.351.6.839.839,0,0,1-.41.7,2.732,2.732,0,0,1-.9.41,3.192,3.192,0,0,0-.9.378.728.728,0,0,0-.41.618,1.575,1.575,0,0,0,.156.56,6.9,6.9,0,0,0,1.334,1.953,5.6,5.6,0,0,0,1.881,1.315,5.875,5.875,0,0,0,1.042.3.42.42,0,0,1,.365.456q0,.911-2.852,1.341a1.379,1.379,0,0,0-.143.507,1.8,1.8,0,0,1-.182.605.451.451,0,0,1-.429.241,5.878,5.878,0,0,1-.807-.085,5.917,5.917,0,0,0-.833-.085,4.217,4.217,0,0,0-.807.065,2.42,2.42,0,0,0-.82.293,6.682,6.682,0,0,0-.755.5q-.351.267-.755.527a3.886,3.886,0,0,1-.989.436A4.471,4.471,0,0,1,11.831,22a4.307,4.307,0,0,1-1.256-.176,3.784,3.784,0,0,1-.976-.436q-.4-.26-.749-.527a6.682,6.682,0,0,0-.755-.5,2.422,2.422,0,0,0-.807-.293,4.432,4.432,0,0,0-.82-.065,5.089,5.089,0,0,0-.853.1,5,5,0,0,1-.762.1.474.474,0,0,1-.456-.241,1.819,1.819,0,0,1-.182-.618,1.411,1.411,0,0,0-.143-.521q-2.852-.429-2.852-1.341a.42.42,0,0,1,.365-.456,5.793,5.793,0,0,0,1.042-.3,5.524,5.524,0,0,0,1.881-1.315,6.789,6.789,0,0,0,1.334-1.953A1.575,1.575,0,0,0,6,12.9a.728.728,0,0,0-.41-.618,3.323,3.323,0,0,0-.9-.384,2.912,2.912,0,0,1-.9-.41.814.814,0,0,1-.41-.684.71.71,0,0,1,.338-.593,1.208,1.208,0,0,1,.716-.241,1.976,1.976,0,0,1,.625.169,2.008,2.008,0,0,0,.69.169.919.919,0,0,0,.416-.091q-.117-1.849-.117-2.474A5.861,5.861,0,0,1,6.385,5.4,5.516,5.516,0,0,1,8.625,2.819,7.075,7.075,0,0,1,12.062,2Z')
            li#menu-item-44(class='menu-item menu-item-type-custom menu-item-object-custom menu-item-44')
              a(href='http://tumblr.com')
                span(class='screen-reader-text') Tumblr
                svg(class='svg-icon' width='26' height='26' aria-hidden='true' role='img' focusable='false' viewBox='0 0 24 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink')
                  path(d='M16.749,17.396c-0.357,0.17-1.041,0.319-1.551,0.332c-1.539,0.041-1.837-1.081-1.85-1.896V9.847h3.861V6.937h-3.847V2.039 c0,0-2.77,0-2.817,0c-0.046,0-0.127,0.041-0.138,0.144c-0.165,1.499-0.867,4.13-3.783,5.181v2.484h1.945v6.282 c0,2.151,1.587,5.206,5.775,5.135c1.413-0.024,2.982-0.616,3.329-1.126L16.749,17.396z')
   
    //===== Navigation Menu ======//
   
    nav(class='items-justified-center wp-block-navigation')
      ul(class='wp-block-navigation__container')
        li(class='wp-block-navigation-link')
          a(class='wp-block-navigation-link_content' href='/')
            span(class='wp-block-navigation-link_label') Home
        li(class='wp-block-navigation-link')
          a(class='wp-block-navigation-link_content' href='/about')
            span(class='wp-block-navigation-link_label') About
        li(class='wp-block-navigation-link')
          a(class='wp-block-navigation-link_content' href='/team')
            span(class='wp-block-navigation-link_label') Team
        li(class='wp-block-navigation-link')
          a(class='wp-block-navigation-link_content' href='/register')
            span(class='wp-block-navigation-link_label') Register
        li(class='wp-block-navigation-link')
          a(class='wp-block-navigation-link_content' href='/contact')
            span(class='wp-block-navigation-link_label') Contact
        li(class='wp-block-navigation-link')
          a(class='wp-block-navigation-link_content' href='/gallery')
            span(class='wp-block-navigation-link_label') Gallery
       
        //===== End of Navigation Menu ======//

    block content      

    div(class='wp-block-group alignfull has-background-background-color has-background' style='padding-top: 0px' data-carousel-extra='{&quot;blog_id&quot;:195406383,&quot;permalink&quot;:&quot;  https://travel752200868.wordpress.com/&quot;}')
      div(class='wp-block-group__inner-container')
        div(class='wp-block-columns alignwide are-vertically-aligned-bottom' data-carousel-extra='{&quot;blog_id&quot;:195406383,&quot;permalink&quot;:&quot;      https://travel752200868.wordpress.com/&quot;}')
          div(class='wp-block-column' data-carousel-extra='{&quot;blog_id&quot;:195406383,&quot;permalink&quot;:&quot;        https://travel752200868.wordpress.com/&quot;}' style='flex-basis:33%; padding-bottom: 1px;')
            div(class='wp-block-button' data-carousel-extra='{&quot;blog_id&quot;:195406383,&quot;permalink&quot;:&quot;          https://travel752200868.wordpress.com/&quot;}')
          div(class='wp-block-column' data-carousel-extra='{&quot;blog_id&quot;:195406383,&quot;permalink&quot;:&quot;        https://travel752200868.wordpress.com/&quot;}' style='flex-basis:67%;')

      div(class='wp-block-group alignfull has-background-background-color has-background' style='padding-top: 0px' data-carousel-extra='{&quot;blog_id&quot;:195406383,&quot;permalink&quot;:&quot;https://travel752200868.wordpress.com/&quot;}')
        div(class='wp-block-group__inner-container')
          div(class='wp-block-columns alignwide' data-carousel-extra='{&quot;blog_id&quot;:195406383,&quot;permalink&quot;:&quot;        https://travel752200868.wordpress.com/&quot;}')
      div(class='wp-block-cover alignfull has-background-dim-70 has-background-dim' style='background-color:#141414;')
        img(class='wp-block-cover__image-background wp-image-27' alt='' src='https://exforddemo.files.wordpress.com/2019/08/beautiful-female-girl-1002530.jpg' data-object-fit='cover' scale='0')
        div(class='wp-block-cover__inner-container' data-carousel-extra='{&quot;blog_id&quot;:195406383,&quot;permalink&quot;      :&quot;https://travel752200868.wordpress.com/&quot;} ')
          h6(class='has-text-align-center') Exclusive Offer
          h2(class='has-text-align-center') Get 20% Off Your First Trip
          p(class='has-text-align-center') Who doesn’t like a discount? Book with us your first trip today and receive an exclusive offer.
          div(class='wp-block-button aligncenter' data-carousel-extra='{&quot;blog_id&quot;:195406383,&quot;permalink&quot;:&quot;        https://travel752200868.wordpress.com/&quot;}')
            a(class='wp-block-button__link has-foreground-color has-text-color has-background' href='/contact') Explore Our Offers
      // back to top button
      
      button#myBtn(onclick='topFunction()' title='Go to top' style='display: none;') Top
      
      // Get the button:
      script.
        //Get the button
        var mybutton = document.getElementById("myBtn");
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function() {scrollFunction()};
        function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        mybutton.style.display = "block";
        } else {
        mybutton.style.display = "none";
        }
        }
        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
        }
       
      footer
        p(class='has-text-align-center has-small-font-size')  Copyright © 2021 Travel Experts.  All Rights Reserved
