extends layout 

block content

    article#post-8.post-8.page.type-page.status-publish.hentry.entry
      header.entry-header.responsive-max-width(style='padding-top: 50px;')
        h1.entry-title Team
      .entry-content
        p(style='text-align:left;') We are a small team of talented professionals with a wide range of skills and experience. We love what we do, and we do it with passion. We look forward to finding your dream vacation.
        .wp-block-group.alignfull.has-background-background-color.has-background
          
          //======= Team Section ======//
          
          div(class='wp-block-group__inner-container')
            .wp-block-spacer(style='height:36px;' aria-hidden='true')
            .wp-block-media-text.alignwide.is-stacked-on-mobile
              figure(class='wp-block-media-text__media')
                img.wp-image-80(src='https://exforddemo.files.wordpress.com/2019/08/edward-cisneros-_h6wpor9mjs-unsplash.jpg?w=503' alt='' width='503' height='335' srcset='https://exforddemo.files.wordpress.com/2019/08/edward-cisneros-_h6wpor9mjs-unsplash.jpg?w=503&amp;zoom=2 1.5x' src-orig='https://exforddemo.files.wordpress.com/2019/08/edward-cisneros-_h6wpor9mjs-unsplash.jpg?w=1024' scale='1.5')
              div(class='wp-block-media-text__content')
                h4.has-text-align-left Joan Smith
                p.has-small-font-size(style='text-align:left;')
                  em Product Director
                p.has-small-font-size(style='text-align:left;') With 15+ years of experience in the travel industry, Joan has travelled around the world more than once.
            .wp-block-media-text.alignwide.has-media-on-the-right.is-stacked-on-mobile
              figure(class='wp-block-media-text__media')
                img.wp-image-79(src='https://exforddemo.files.wordpress.com/2019/08/elizeu-dias-2egnqazbamk-unsplash.jpg?w=503' alt='' width='503' height='335' srcset='https://exforddemo.files.wordpress.com/2019/08/elizeu-dias-2egnqazbamk-unsplash.jpg?w=503&amp;zoom=2 1.5x' src-orig='https://exforddemo.files.wordpress.com/2019/08/elizeu-dias-2egnqazbamk-unsplash.jpg?w=1024' scale='1.5')
              div(class='wp-block-media-text__content')
                h4.has-text-align-left Jake Miller
                p.has-small-font-size(style='text-align:left;')
                  em Travel Specialist
                p.has-small-font-size(style='text-align:left;') Jake is passionate about travelling, hiking and discovering new places.
            .wp-block-media-text.alignwide.is-stacked-on-mobile
              figure(class='wp-block-media-text__media')
                img.wp-image-86(src='https://exforddemo.files.wordpress.com/2019/08/charles-postiaux-j9vlgggytc0-unsplash.jpg?w=503' alt='' width='503' height='335' srcset='https://exforddemo.files.wordpress.com/2019/08/charles-postiaux-j9vlgggytc0-unsplash.jpg?w=503&amp;zoom=2 1.5x' src-orig='https://exforddemo.files.wordpress.com/2019/08/charles-postiaux-j9vlgggytc0-unsplash.jpg?w=1024' scale='1.5')
              div(class='wp-block-media-text__content')
                h4.has-text-align-left Amy Park
                p.has-small-font-size(style='text-align:left;')
                  em Senior Travel Specialist
                p.has-small-font-size(style='text-align:left;') Having been lucky enough to have visited 120 of our featured hotels across 24 destinations, Amy’s knowledge and expertise are invaluable.
            .wp-block-spacer(style='height:68px;' aria-hidden='true')