extends layout 

block content

    article#post-6.post-6.page.type-page.status-publish.hentry.entry
      header.entry-header.responsive-max-width(style='padding-top: 50px;')
        h1.entry-title Thank you for Registering... 
        h1.entry-title Your account has been created
      .entry-content
